<!-- templates/layout.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}내 와인 셀러{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="header">
        <h1>{% block header %}내 와인 셀러{% endblock %}</h1>
        {% block header_buttons %}{% endblock %}
    </div>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>